.header-starter-kit {
    &__content {
        .language {
            margin-bottom: 48px;
        }

        &__img {
            border-radius: $border-radius-small;
            border: 1px solid $primary-100;
            box-shadow: $card-shadow;
        }
    }
}