.header-starter-kit {
    &__content {
        .language {
            margin-bottom: 48px;
        }

        &__img {
            border-radius: $border-radius-small;
            border: 1px solid $primary-100;
            box-shadow: $card-shadow;
        }
    }
}

/* TABLET 1024PX */
@media only screen and (min-width: $tablet-landscape) {
    .header-starter-kit__content {
        width: 115%;
        gap: 40px;

        &__text {
            width: 35%;

            .buttons {
                justify-content: flex-start;
            }

            .language {
                margin-bottom: 0;
            }
        }

        &__img {
            width: 65%;
            height: auto;
            aspect-ratio: 16/9;
            object-fit: cover;
        }
    }
}

/* DESKTOP 1280PX */
@media only screen and (min-width: $desktop-1) {
    .header-starter-kit__content {
        gap: 72px;

        &__text {
            width: 35%;

            .buttons {
                justify-content: flex-start;

                .button {
                    width: 100%;
                    text-align: center;
                }
            }
        }
    }
}

/* DESKTOP 1440PX */
@media only screen and (min-width: $desktop-3) {
    .header-starter-kit__content {
        gap: 130px;

        &__text {
            width: 506px;

            h1 {
                font-size: 40px;
                line-height: 44px;
            }
        }

        &__img {
            width: calc(100% - 506px - 130px);
            max-width: 924px;
            object-fit: contain;
        }
    }
}

/* DESKTOP 1600PX */
@media only screen and (min-width: $desktop-5) {
    .header-starter-kit__content {
        &__img {
            max-width: 1084px;
        }
    }
}

/* DESKTOP - HD */
@media only screen and (min-width: $desktop-hd) {
    .header-starter-kit__content {
        &__img {
            max-width: 1404px;
        }
    }
}

/* DESKTOP - QHD */
@media only screen and (min-width: $desktop-qhd) {
    .header-starter-kit__content {
        &__img {
            max-width: 2044px;
        }
    }
}

/* DESKTOP - WQHD */
@media only screen and (min-width: $desktop-wqhd) {
    .header-starter-kit__content {
        justify-content: flex-start;
    }
}