.header-starter-kit {
    &__content {
        .language {
            margin-bottom: 48px;
        }

        &__img {
            border-radius: $border-radius-small;
            border: 1px solid $primary-100;
            box-shadow: $card-shadow;
        }
    }
}

/* TABLET 1024PX */
@media only screen and (min-width: $tablet-landscape) {
    .header-starter-kit__content {
        width: 115%;
        gap: 40px;

        &__text {
            width: 35%;

            .buttons {
                justify-content: flex-start;
            }

            .language {
                margin-bottom: 0;
            }
        }

        &__img {
            width: 65%;
            height: auto;
            aspect-ratio: 3/2;
            object-fit: cover;
        }
    }
}

/* DESKTOP 1280PX */
@media only screen and (min-width: $desktop-1) {
    .header-starter-kit__content {
        gap: 72px;

        &__text {
            width: 35%;

            .buttons {
                justify-content: flex-start;

                .button {
                    width: 100%;
                    text-align: center;
                }
            }
        }
    }
}