.intro:not(.footer__section) {
    background-color: $neutrals-200;
    padding: 56px 16px;

    h2 {
        margin-bottom: 12px;
    }

    p {
        margin-bottom: 24px;
    }

    .button {
        color: $primary-600;
    }

    .intro__img {
        display: none;
    }
}

/* TABLET 768PX */
@media only screen and (min-width: $tablet-portrait) {
    .intro:not(.footer__section) {
        padding: 72px 48px;
    }
}

/* TABLET 1024PX */
@media only screen and (min-width: $tablet-landscape) {
    .intro:not(.footer__section) {
        padding: 72px 96px;
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-start;
        align-items: center;
        gap: 40px;

        .intro__text {
            width: calc(100% - 360px - 40px);
        }

        .intro__img {
            display: block;
            width: 360px;
            height: auto;
            aspect-ratio: 1/1;
            object-fit: cover;
            border-radius: $border-radius-small;
        }
    }
}

/* DESKTOP 1280PX */
@media only screen and (min-width: $desktop-1) {
    .intro:not(.footer__section) {
        padding: 96px 202px 96px 96px;
        gap: 72px;

        .intro__text {
            h2 {
                margin-bottom: 16px;
            }
        }

        .intro__img {
            width: 506px;
        }
    }
}

/* DESKTOP 1440PX */
@media only screen and (min-width: $desktop-3) {
    .intro:not(.footer__section) {
        padding: 128px 202px 128px 96px;
        gap: 130px;

        .intro__text {
            width: calc(100% - 506px - 130px);
        }

        .intro__img {
            width: 506px;
        }
    }
}

/* DESKTOP 1600PX */
@media screen and (min-width: $desktop-5) {
    .intro:not(.footer__section) {
        padding: 128px 282px 128px 176px;
    }
}

/* DESKTOP - HD */
@media only screen and (min-width: $desktop-hd) {
    .intro:not(.footer__section) {
        padding: 128px 442px 128px 336px;
    }
}

/* DESKTOP - QHD */
@media only screen and (min-width: $desktop-qhd) {
    .intro:not(.footer__section) {
        padding: 128px 762px 128px 656px;
    }
}

/* DESKTOP - WQHD */
@media only screen and (min-width: $desktop-wqhd) {
    .intro:not(.footer__section) {
        padding: 128px 1202px 128px 1096px;
    }
}

/* DESKTOP - 4K */
@media only screen and (min-width: $desktop-4k) {
    .intro:not(.footer__section) {
        padding: 128px 1402px 128px 1296px;
    }
}