.container-websites-apps {
    .carousel-section {
        background-color: $neutrals-100;

        &__title {
            margin-bottom: 24px;
        }
    }
}

/* DESKTOP 1280PX */
@media only screen and (min-width: $desktop-1) {
    .container-websites-apps {
        .carousel-section {
            padding: 96px 202px;

            &__title {
                margin-bottom: 64px;
            }

            /*.slider-container {
                .slider {
                    height: 337px;

                    &__inner {
                        height: 100%;
                        gap: 24px;

                        .slide {
                            width: 426px;
                            height: 337px;
                        }
                    }
                }
            }*/
        }
    }
}

/* DESKTOP 1440PX */
@media only screen and (min-width: $desktop-3) {
    /*.container-websites-apps {
        .carousel-section {
            .slider-container {
                .slider {
                    &__inner {
                        .slide {
                            width: 506px;
                            height: 337px;
                        }
                    }
                }
            }
        }
    }*/
}
