.container-websites-apps {
    .carousel-section {
        background-color: $neutrals-100;

        &__title {
            margin-bottom: 24px;
        }
    }
}

/* DESKTOP 1280PX */
@media only screen and (min-width: $desktop-1) {
    .container-websites-apps {
        .carousel-section {
            padding: 96px 202px;
            
            &__title {
                margin-bottom: 64px;
            }
        }
    }
}