.header-websites-apps {
    &__content {
        padding: 31px 0px 0px 0px;

        &__text {
            padding: 0px 16px;

            .button-tertiary {
                color: $primary-600;
                display: none;
            }

            p {
                margin-bottom: 48px;
            }
        }

        &__img {
            width: 100%;
            height: auto;
            aspect-ratio: 3/2;
            object-fit: cover;
        }
    }

    .breadcrumbs {
        margin-bottom: 12px;
    }
}