.contact {
    &__info {
        display: none;
    }

    &__form-section {
        background-color: $neutrals-200;
        padding: 56px 16px;

        h3 {
            text-align: center;
            margin-bottom: 32px;
        }
    }
}

/* TABLET 768PX */
@media only screen and (min-width: $tablet-portrait) {
    .contact {
        &__form-section {
            padding: 72px 48px;
        }
    }
}

/* TABLET 1024PX */
@media only screen and (min-width: $tablet-landscape) {
    .contact:not(.footer__section) {
        display: flex;
        width: 100%;
        background-color: $primary-600;

        .contact__info {
            display: block;
            width: 40%;
            padding: 72px 40px 72px 96px;
            background-color: $primary-600;
            height: 100%;

            h2 {
                margin-bottom: 16px;
            }

            p {
                margin-bottom: 32px;
            }

            &__items {
                margin-bottom: 40px;

                .info-item {
                    color: $neutrals-100;
                    display: block;
                }
            }
        }

        .contact__form-section {
            padding: 72px 96px;
            width: 60%;

            h3 {
                display: none;
            }
        }
    }
}

/* DESKTOP 1280PX */
@media only screen and (min-width: $desktop-1) {
    .contact:not(.footer__section) {
        .contact__info, .contact__form-section {
            padding: 96px;
        }
    }
}

/* DESKTOP 1440PX */
@media only screen and (min-width: $desktop-3) {
    .contact:not(.footer__section) {
        .contact__info {
            padding: 96px 0px 96px 0px;
            width: 44%;

            &__container {
                max-width: 384px;
                margin: 0 130px 0px auto;
            }
        }

        .contact__form-section {
            padding: 96px 0px;
            width: 56%;

            .contact-form {
                &__container {
                    max-width: 636px;
                    margin: 0px auto 0px 96px;
                }
            }
        }
    }
}

/* DESKTOP - HD */
@media only screen and (min-width: $desktop-hd) {
    .contact:not(.footer__section) {
        .contact__info {
            width: 45%;
        }

        .contact__form-section {
            width: 55%;
        }
    }
}

/* DESKTOP - QHD */
@media only screen and (min-width: $desktop-qhd) {
    .contact:not(.footer__section) {
        .contact__info {
            width: 47%;
        }

        .contact__form-section {
            width: 53%;
        }
    }
}

/* DESKTOP - 4K */
@media only screen and (min-width: $desktop-4k) {
    .contact:not(.footer__section) {
        .contact__info {
            width: 48%;
        }

        .contact__form-section {
            width: 52%;
        }
    }
}