.contact {
    &__info {
        display: none;
    }

    &__form-section {
        background-color: $neutrals-200;
        padding: 56px 16px;

        h3 {
            text-align: center;
            margin-bottom: 32px;
        }
    }
}

/* TABLET 768PX */
@media only screen and (min-width: $tablet-portrait) {
    .contact {
        &__form-section {
            padding: 72px 48px;
        }
    }
}

/* TABLET 1024PX */
@media only screen and (min-width: $tablet-landscape) {
    .contact:not(.footer__section) {
        display: flex;
        width: 100%;
        background-color: $primary-600;

        .contact__info {
            display: block;
            width: 40%;
            padding: 72px 40px 72px 96px;
            background-color: $primary-600;
            height: 100%;

            h2 {
                margin-bottom: 16px;
            }

            p {
                margin-bottom: 32px;
            }

            &__items {
                margin-bottom: 40px;

                .info-item {
                    color: $neutrals-100;
                    display: block;
                }
            }
        }

        .contact__form-section {
            padding: 72px 96px;
            width: 60%;

            h3 {
                display: none;
            }
        }
    }
}

/* DESKTOP 1280PX */
@media only screen and (min-width: $desktop-1) {
    .contact:not(.footer__section) {
        .contact__info, .contact__form-section {
            padding: 96px;
        }
    }
}

/* DESKTOP 1600PX */
@media screen and (min-width: $desktop-5) {
    .contact:not(.footer__section) {
        .contact__info {
            padding: 96px 130px 96px 176px;
            width: 44%;
        }

        .contact__form-section {
            padding: 96px 176px 96px 96px;
            width: 56%;
        }
    }
}

/* DESKTOP - HD */
@media only screen and (min-width: $desktop-hd) {
    .contact:not(.footer__section) {
        .contact__info {
            padding: 96px 130px 96px 336px;
        }

        .contact__form-section {
            padding: 96px 336px 96px 96px;
        }
    }
}

/* DESKTOP - QHD */
@media only screen and (min-width: $desktop-qhd) {
    .contact:not(.footer__section) {
        .contact__info {
            padding: 96px 130px 96px 656px;
            width: 46%;
        }

        .contact__form-section {
            padding: 96px 656px 96px 96px;
            width: 54%;
        }
    }
}

/* DESKTOP - WQHD */
@media only screen and (min-width: $desktop-wqhd) {
    .contact:not(.footer__section) {
        .contact__info {
            padding: 96px 130px 96px 1096px;
            width: 47%;
        }

        .contact__form-section {
            padding: 96px 1096px 96px 96px;
            width: 53%;
        }
    }
}

/* DESKTOP - 4K */
@media only screen and (min-width: $desktop-4k) {
    .contact:not(.footer__section) {
        .contact__info {
            padding: 96px 130px 96px 1296px;
            width: 48%;
        }

        .contact__form-section {
            padding: 96px 1296px 96px 96px;
            width: 52%;
        }
    }
}