.contact {
    &__form-section {
        background-color: $neutrals-200;
        padding: 56px 16px;

        h3 {
            text-align: center;
            margin-bottom: 32px;
        }
    }
}

/* TABLET 768PX */
@media only screen and (min-width: $tablet-portrait) {
    .contact {
        &__form-section {
            padding: 72px 48px;
        }
    }
}