.header-contact {
    &__content {
        &__links {
            margin-bottom: 24px;
        }
    }
}

/* TABLET 768PX */
@media only screen and (min-width: $tablet-portrait) {
    .header-contact {
        &__content {
            &__links {
                margin-bottom: 40px;
            }
        }
    }
}

/* TABLET 1024PX */
@media only screen and (min-width: $tablet-landscape) {
    .header-contact {
        &__content {
            &.mobile {
                display: none;
            }

            &.desktop {
                display: flex;
            }

            &__text {
                h1 {
                    margin-bottom: 32px;
                }
            }
        }
    }
}

/* DESKTOP 1280PX */
@media only screen and (min-width: $desktop-1) {
    .header-contact {
        &__content {
            &__text {
                h1 {
                    margin-bottom: 16px;
                }

                p {
                    margin-bottom: 32px;
                }
            }
        }
    }
}