.header-contact {
    &__content {
        padding: 31px 16px 56px 16px;

        &__links {
            margin-bottom: 24px;
        }
    }
}

/* TABLET 768PX */
@media only screen and (min-width: $tablet-portrait) {
    .header-contact {
        &__content {
            padding: 47px 48px 72px 48px;

            &__links {
                margin-bottom: 40px;
            }
        }
    }
}

/* TABLET 1024PX */
@media only screen and (min-width: $tablet-landscape) {
    .header-contact {
        &__content {
            padding: 47px 202px 72px 96px;

            &.mobile {
                display: none;
            }

            &.desktop {
                display: flex;
            }

            &__text {
                h1 {
                    margin-bottom: 12px;
                }
            }
        }
    }
}

/* DESKTOP 1280PX */
@media only screen and (min-width: $desktop-1) {
    .header-contact {
        &__content {
            padding: 64px 308px 96px 202px;

            &__text {
                h1 {
                    margin-bottom: 16px;
                }

                p {
                    margin-bottom: 32px;
                }
            }
        }
    }
}

/* DESKTOP 1440PX */
@media screen and (min-width: $desktop-3) {
    .header-contact {
        &__content {
            padding-top: 64px !important;
        }
    }
}