.header-contact {
    &__content {
        &__links {
            margin-bottom: 24px;

            .link {
                display: block;

                i {
                    color: $primary-600;
                }
            }
        }

        .socials {
            .social {
                color: $primary-600;
            }
        }
    }
}
