.about {
    background-color: $neutrals-200;
    padding: 56px 16px;

    &__text {
        &__title {
            justify-content: flex-start;
            align-items: center;
            gap: 12px;
            margin-bottom: 32px;

            img {
                width: 36px;
                height: 36px;
                object-fit: contain;
            }
        }

        &__photos {
            width: 100%;
            justify-content: space-between;
            align-items: center;
            gap: 8px;
            margin-bottom: 24px;

            img {
                flex-grow: 1;
                width: 50%;
                height: auto;
                aspect-ratio: 3/2;
                object-fit: cover;
                border-radius: $border-radius-small;
                border: 1px solid $primary-100;
            }
        }

        &__p {
            margin-bottom: 48px;
        }

        &__numbers {
            width: 100%;
            background-color: $neutrals-100;
            border-radius: $border-radius-small;
            border: 1px solid $primary-100;
            padding: 40px;
            box-shadow: $card-shadow;

            display: flex;
            flex-direction: row;
            gap: 32px 8px;
            flex-wrap: wrap;
        }
    }
}

/* TABLET 768PX */
@media only screen and (min-width: $tablet-portrait) {
    .about {
        padding: 72px 48px;

        &__text {
            &__numbers {
                width: 100%;
                justify-content: space-between;
                gap: 0px;
                flex-wrap: nowrap;
            }
        }
    }
}

/* TABLET 1024PX */
@media only screen and (min-width: $tablet-landscape) {
    .about {
        padding: 72px 96px;
        justify-content: space-between;
        align-items: flex-start;
        gap: 48px;

        &__text {
            width: 59%;

            &__title {
                margin-bottom: 24px;
            }

            &__photos {
                display: none;
            }

            &__numbers {
                width: auto;
                display: inline-flex;
                justify-content: flex-start;
                gap: 24px 106px;
                flex-wrap: wrap;

                & > .number-container {
                    flex: calc(50% - 53px);
                    //max-width: 132px;
                }
            }
        }

        &__photos {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            gap: 24px;
            width: 41%;

            img {
                width: 100%;
                height: auto;
                aspect-ratio: 3/2;
                object-fit: cover;
                border-radius: $border-radius-small;
                border: 1px solid $primary-100;
            }
        }
    }
}

/* DESKTOP 1280PX */
@media only screen and (min-width: $desktop-1) {
    .about {
        padding: 96px 202px;
        gap: 72px;

        &__text {
            &__p {
                margin-bottom: 40px;
            }
        }
    }
}

/* DESKTOP 1440PX */
@media screen and (min-width: $desktop-3) {
    .about {
        padding: 128px 202px;
        gap: 106px;

        &__text {
            width: calc(100% - 424px - 106px);

            &__numbers {
                padding: 56px;
            }
        }
    }
}

/* DESKTOP 1600PX */
@media screen and (min-width: $desktop-5) {
    .about {
        padding: 128px 282px;
    }
}