.header {
    &-photography {
        &__content {
            padding: 31px 0px 56px 0px;

            &__text {
                p {
                    margin-bottom: 32px;
                }

                .button-tertiary {
                    display: block;
                }
            }
        }
    }
}