.photography-section {
    padding: 56px 16px;

    &:nth-child(odd) {
        background-color: $neutrals-200;
    }

    &__title {
        margin-bottom: 24px;
    }
}

/* TABLET 768PX */
@media only screen and (min-width: $tablet-portrait) {
    .photography-section {
        padding: 72px 48px;
    }
}

/* TABLET 1024PX */
@media only screen and (min-width: $tablet-landscape) {
    .photography-section {
        padding: 72px 96px;
    }
}

/* DESKTOP 1280PX */
@media only screen and (min-width: $desktop-1) {
    .photography-section {
        padding: 96px 202px;

        &__title {
            margin-bottom: 56px;
        }
    }
}

/* DESKTOP 1440PX */
@media only screen and (min-width: $desktop-3) {
    .photography-section {
        padding: 128px 0px;
    }
}