.button {
    display: inline-block;
    margin: 0;
    padding: 12px 24px;

    border-radius: $border-radius-small;
    border: none;

    font-family: $title-font;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    text-decoration: none;
    letter-spacing: -0.01em;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    transition: all $transition-time-short;

    &:hover {
        cursor: pointer;
    }

    &-primary {
        background-color: $primary-600;
        color: $neutrals-100;

        &:hover {
            background-color: $primary-700;
        }
    }

    &-secondary {
        background-color: $primary-100;
        color: $primary-600;

        &:hover {
            background-color: $primary-200;
        }
    }

    &-tertiary {
        text-align: left;
        background-color: transparent;
        padding: 0;
        text-transform: uppercase;

        &.large {
            font-size: 24px;
            line-height: 32px;
            text-transform: capitalize;

            i {
                font-size: 20px;
                line-height: 32px;
            }
        }
    }

    &-white {
        background-color: $neutrals-100;
        color: $primary-600;
    }
}

/* DESKTOP 1440PX */
@media screen and (min-width: $desktop-3) {
    .button {
        &-primary, &-secondary {
            font-size: 20px;
            line-height: 20px;
        }

        &-tertiary {
            font-size: 20px;
        }
    }
}
