//scroll issue
.container-contact {
    overflow-x: initial;
    min-height: initial;
}

/* DESKTOP - QHD */
@media only screen and (min-width: $desktop-qhd) {
    .container-contact {
        min-height: calc(100% - 373px);
    }
}