.anchor-first {
    margin-left: $icon-margin-button;
}

.icon-first {
    margin-right: $icon-margin-button;
}

/* ICONS IN BUTTONS */
.button {
    i {
        font-size: 12px;
        transition: all $transition-time-short;
        font-weight: 900;
    }

    &-primary, &-secondary {
        .anchor-first {
            margin-bottom: 1px;
        }
    
        .icon-first {
            margin-bottom: 1px;
        }

        //Arrow right/top
        .fa-arrow-right {
            //transform: rotate(-45deg);
        }
    }

    &:hover {
        .anchor-first {
            margin-left: $icon-margin-button-hover;

            &.no-hover {
                margin-left: $icon-margin-button;
            }
        }

        .icon-first {
            margin-right: $icon-margin-button-hover;

            &.no-hover {
                margin-right: $icon-margin-button;
            }
        }
    }

    &-tertiary {
        i {
            font-size: 16px;
            line-height: 16px;
        }
    }
}

/* DESKTOP 1440PX */
@media screen and (min-width: $desktop-3) {
    .button {
        &-tertiary {
            i {
                font-size: 20px;
                line-height: 32px;
            }
        }
    }
}