.tag {
    display: inline-block;
    padding: 5px 8px;
    margin: 0;

    color: $neutrals-100;
    background-color: $primary-600;

    font-family: $title-font;
    font-size: 16px;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: -0.01em;

    border-radius: $border-radius-small;
}