.cases {
    background-color: $neutrals-100;
    padding: 111px 16px 72px 16px;
}

/* TABLET 768PX */
@media only screen and (min-width: $tablet-portrait) {
    .cases {
        padding: 127px 48px 72px 48px;
    }
}

/* TABLET 1024PX */
@media only screen and (min-width: $tablet-landscape) {
    .cases {
        padding: 0;
        // padding-top: 0 !important;
        // padding: 0px 96px 72px 96px;
        // display: grid;
        // grid-template-columns: repeat(2, 1fr);
        // gap: 24px;

        &__content-container {
            padding-top: 0 !important;
            padding: 0px 96px 72px 96px;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 24px;
        }
    }
}

/* DESKTOP 1280PX */
@media only screen and (min-width: $desktop-1) {
    .cases {
        &__content-container {
            padding: 0px 202px 128px 202px;
        }
    }
}

/* DESKTOP 1440PX */
@media only screen and (min-width: $desktop-3) {
    .cases {
        &__content-container {
            padding: 0px 106px 128px 106px;
        }
    }
}
