.bullets {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.bullet {
    width: 8px;
    height: 8px;
    border-radius: $border-radius-small;
    background-color: $neutrals-500;
    transition: all $transition-time-short;

    &.active {
        width: 20px;
        background-color: $primary-600;
    }
}