.cards {
    .card {
        background-color: $neutrals-100;
        border: 1px solid $primary-100;
        border-radius: $border-radius-small;
        box-shadow: $card-shadow;
        padding: 24px;
        margin-bottom: 24px;
    
        &:last-of-type {
            margin-bottom: 0;
        }
    
        &__icon-container {
            width: 80px;
            height: 80px;
            border-radius: 50%;
            background-color: $primary-600;
            position: relative;
            margin-bottom: 24px;
    
            i, span {
                display: block;
                font-size: 32px;
                line-height: 36px;
                position: absolute;
                transform: translate(-50%, -50%);
                top: 50%;
                left: 50%;
                color: $neutrals-100;
            }
    
            span {
                font-family: $title-font;
                font-weight: 700;
                letter-spacing: -0.01em;
            }
        }
    
        &__title {
            margin-bottom: 8px;
        }

        &:has(.features) {
            p {
                margin-bottom: 8px;
            }
        }
    
        .button {
            margin-top: 24px;

            i {
                color: $primary-600;
            }
        }
    }
}

/* TABLET 1024PX */
@media only screen and (min-width: $tablet-landscape) {
    .cards {
        .card {
            margin-bottom: 0;
        }
    }
}