.form {
    .input-group {
        margin-bottom: 20px;

        &__label {
            font-family: $title-font;
            font-size: 14px;
            line-height: 14px;
            font-weight: 500;
            color: $neutrals-1000;
            letter-spacing: -0.01em;
            margin-bottom: 8px;
            display: block;
        }

        .input {
            font-family: $paragraph-font;
            font-size: 16px;
            line-height: 16px;
            font-weight: 400;
            letter-spacing: -0.01em;

            padding: 16px;
            border-radius: $border-radius-small;
            border: 1px solid $neutrals-600;
            width: 100%;

            &::placeholder {
                color: $neutrals-800;
            }

            &.textarea {
                height: 200px;
                resize: none;
                line-height: 26px;
            }
        }
    }

    .g-recaptcha {
        margin-bottom: 20px;
    }
}

/* TABLET 768PX */
@media only screen and (min-width: $tablet-portrait) {
    .form {
        .input-group {
            margin-bottom: 24px;
        }

        .g-recaptcha {
            margin-bottom: 24px;
        }
    }
}

/* DESKTOP 1280PX */
@media only screen and (min-width: $desktop-1) {
    .form {
        .flex-desktop {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            gap: 24px;
            margin-bottom: 24px;

            .input-group {
                margin-bottom: 0px;
            }
        }
    }
}

/* DESKTOP 1440PX */
@media only screen and (min-width: $desktop-3) {
    .form {
        .input-group {
            .input {
                &.textarea {
                    height: 240px;
                }
            }
        }
    }
}