.challenges {
    &-section {
        background-color: $neutrals-200;
    }

    &__text {
        h2 {
            margin-bottom: 12px;
        }

        p {
            margin-bottom: 24px;
        }

        h3 {
            margin-bottom: 16px;
        }

        .features {
            margin-bottom: 24px;
        }
    }

    &__img {
        display: block;
        height: auto;
        aspect-ratio: 3/2;
        object-fit: cover;
        border-radius: $border-radius-small;
        margin-bottom: 40px;
        border: 1px solid $primary-100;
    }
}

/* TABLET 1024PX */
@media only screen and (min-width: $tablet-landscape) {
    .challenges {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 48px;

        &__text {
            width: calc(100% - 48px - 360px); //48px gap, 360px image

            .features {
                margin-bottom: 0;
            }

            .button {
                display: none;
            }
        }

        &__img {
            display: block;
            width: 360px;
            height: auto;
            aspect-ratio: 1/1;
            object-fit: cover;
            border-radius: $border-radius-small;
            margin-bottom: 0;
        }
    }
}

/* DESKTOP 1280PX */
@media only screen and (min-width: $desktop-1) {
    .challenges {
        gap: 72px;
        
        &__text {
            width: calc(100% - 72px - 506px); //72px gap, 400px image

            p {
                margin-bottom: 32px;
            }

            .features {
                margin-bottom: 32px;
            }
        }

        &__img {
            width: 506px;
        }
    }
}

/* DESKTOP 1440PX */
@media screen and (min-width: $desktop-3) {
    .challenges {
        gap: 130px;
        padding-right: 106px;

        &-section {
            padding: 128px 0px;
        }
        
        &__text {
            width: calc(100% - 506px - 130px);
        }
    }
}