.header-case {
    &__content {
        &__text {
            p {
                margin-bottom: 32px;
            }
        }

        &__images {

            //change by general carousel code
            &__carousel {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                gap: 8px;
                margin-bottom: 16px;
                overflow-x: scroll;

                img {
                    width: 256px;
                    height: auto;
                    aspect-ratio: 1/1;
                    object-fit: cover;
                    border-radius: $border-radius-small;
                }
            }
        }
    }
}

/* TABLET 768PX */
@media only screen and (min-width: $tablet-portrait) {
    .header-case {
        &__content {
            &__text {
                p {
                    margin-bottom: 48px;
                }
            }
        }
    }
}

/* TABLET 1024PX */
@media only screen and (min-width: $tablet-landscape) {
    .header-case {
        &__content {
            align-items: flex-start;
            gap: 40px;

            &__text {
                width: 50%;

                p {
                    margin-bottom: 0;
                }
            }

            &__images {
                width: 50%;
            }
        }
    }
}

/* DESKTOP 1280PX */
@media only screen and (min-width: $desktop-1) {
    .header-case {
        &__content {
            padding: 64px 96px 96px 96px;
        }
    }
}