.header-case {
    &__content {
        &__text {
            p {
                margin-bottom: 32px;
            }

            .button {
                display: none;
            }
        }
    }
}

/* TABLET 768PX */
@media only screen and (min-width: $tablet-portrait) {
    .header-case {
        &__content {
            &__text {
                p {
                    margin-bottom: 48px;
                }
            }
        }
    }
}

/* TABLET 1024PX */
@media only screen and (min-width: $tablet-landscape) {
    .header-case {
        &__content {
            align-items: flex-start;
            gap: 40px;

            &__text {
                width: 50%;

                p {
                    margin-bottom: 32px;
                }

                .button {
                    display: inline-block;
                }
            }

            &__images {
                width: 50%;
            }
        }
    }
}

/* DESKTOP 1280PX */
@media only screen and (min-width: $desktop-1) {
    .header-case {
        &__content {
            padding: 188px 96px 96px 96px;
            gap: 130px;
        }
    }
}

/* DESKTOP 1440PX */
@media screen and (min-width: $desktop-3) {
    .header-case {
        &__content {
            //padding: 188px 96px 112px 96px;
            padding: 188px 0px 112px 0px;

            &__text {
                width: 506px;
            }

            &__images {
                width: calc(100% - 130px - 506px); //130px gap, 506px text width
            }
        }
    }
}

/* DESKTOP 1600PX */
@media screen and (min-width: $desktop-5) {
    .header-case {
        &__content {
            //padding: 188px 176px 128px 176px;
        }
    }
}

/* DESKTOP - HD */
@media only screen and (min-width: $desktop-hd) {
    .header-case {
        &__content {
            //padding: 188px 336px 128px 336px;
        }
    }
}

/* DESKTOP - QHD */
@media only screen and (min-width: $desktop-qhd) {
    .header-case {
        &__content {
            //padding: 188px 656px 128px 656px;
        }
    }
}

/* DESKTOP - WQHD */
@media only screen and (min-width: $desktop-wqhd) {
    .header-case {
        &__content {
            //padding: 188px 1096px 128px 1096px;
        }
    }
}

/* DESKTOP - 4K */
@media only screen and (min-width: $desktop-4k) {
    .header-case {
        &__content {
            //padding: 188px 1296px 128px 1296px;
        }
    }
}