.next-cases-section {
    background-color: $neutrals-100;

    .next-cases {
        &__title {
            text-align: center;
            margin-bottom: 32px;
        }
    
        &__cases {
            .case {
                margin-bottom: 0;
    
                &:first-of-type {
                    margin-bottom: 16px;
                }
            }
        }
    }
}

/* TABLET 1024PX */
@media only screen and (min-width: $tablet-landscape) {
    .next-cases-section {
        .next-cases {
            &__cases {
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 24px;
    
                .case {
                    margin-bottom: 0 !important;
    
                    .button {
                        top: 24px;
                        right: 24px;
                    }
    
                    &__id {
                        left: 24px;
                        bottom: 24px;
                    }
                }
            }
        }
    }
}

/* DESKTOP 1280PX */
@media only screen and (min-width: $desktop-1) {
    .next-cases-section {
        padding: 96px 202px;

        .next-cases {
            &__title {
                margin-bottom: 64px;
            }
        }
    }
}

/* DESKTOP 1440PX */
@media only screen and (min-width: $desktop-3) {
    .next-cases-section {
        padding: 128px 0px;
    }
}