.case {
    width: 100%;
    height: auto;
    height: 229px;
    //aspect-ratio: 3/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: $border-radius-small;
    border: 1px solid $primary-100;
    margin-bottom: 24px;
    //position: relative;

    &:last-of-type {
        margin-bottom: 0;
    }

    .button {
        /*position: relative;
        top: 24px;
        right: 24px;*/
        /*margin-top: 24px;
        margin-left: auto;*/
        float: right;
        margin-top: 24px;
        margin-right: 24px;
        color: $neutrals-1000;

        i {
            color: $primary-600;
        }
    }

    &__id {
        /*position: absolute;
        bottom: 24px;
        left: 24px;*/
        width: calc(100% - 48px);
        float: left;
        margin-top: 96px;
        margin-left: 24px;

        &__title {
            font-weight: 700;
            margin-bottom: 8px;
        }
    }
}

/* TABLET 768PX */
@media only screen and (min-width: $tablet-portrait) {
    .case {
        height: 337px;

        &__id {
            margin-top: 204px;
        }
    }
}

/* TABLET 1024PX */
@media only screen and (min-width: $tablet-landscape) {
    .case {
        margin-bottom: 0;
        
        /*.button {
            top: 32px;
            right: 32px;
        }

        &__id {
            bottom: 32px;
            left: 32px;
        }*/
    }
}

/* DESKTOP 1280PX */
@media screen and (min-width: $desktop-1) {
    .case {
        .button {
            margin-top: 32px;
            margin-right: 32px;
        }

        &__id {
            margin-top: 188px;
            margin-left: 32px;
        }
    }
}

/* DESKTOP 1440PX */
@media screen and (min-width: $desktop-3) {
    .case {
        &__id {
            margin-top: 160px;
        }
    }
}