.case {
    width: 100%;
    height: auto;
    height: 229px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: $border-radius-small;
    border: 1px solid $primary-100;
    margin-bottom: 20px;

    &.slide {
        width: 343px !important;

        .case__id {
            margin-top: 123px;
        }
    }

    &:last-of-type {
        margin-bottom: 0;
    }

    .button {
        float: right;
        margin-top: 24px;
        margin-right: 24px;
        color: $neutrals-1000 !important;

        i {
            color: $primary-600;
            font-size: 16px;
            line-height: 16px;
        }
    }

    &__id {
        width: calc(100% - 48px);
        float: left;
        margin-top: 96px;
        margin-left: 24px;

        &__title {
            font-weight: 700;
            margin-bottom: 8px;
        }
    }
}

/* TABLET 768PX */
@media only screen and (min-width: $tablet-portrait) {
    .case {
        height: 337px;

        &.slide {
            width: 328px !important;

            .case__id {
                margin-top: 195px;
            }
        }

        &__id {
            margin-top: 204px;
        }
    }
}

/* TABLET 1024PX */
@media only screen and (min-width: $tablet-landscape) {
    .case {
        margin-bottom: 0;
        height: 256px;

        &.slide {
            width: 400px !important;

            .case__id {
                margin-top: 195px;
            }
        }

        &__id {
            margin-top: 123px;
        }
    }
}

/* DESKTOP 1280PX */
@media screen and (min-width: $desktop-1) {
    .case {
        height: 284px;

        &.slide {
            width: 426px !important;
            height: 284px !important;

            .case__id {
                margin-top: 140px;
            }
        }

        .button {
            margin-top: 32px;
            margin-right: 32px;
        }

        &__id {
            margin-top: 135px;
            margin-left: 32px;
        }
    }
}

/* DESKTOP 1440PX */
@media screen and (min-width: $desktop-3) {
    .case {
        height: 337px;

        &.slide {
            width: 506px !important;
            height: 337px !important;

            .case__id {
                margin-top: 180px;
            }
        }

        &__id {
            margin-top: 176px;
        }
    }
}