.carousel {
    display: inline-flex;
    gap: 8px;
    overflow: scroll;
    scrollbar-width: none;
    transform: translateX(0);
    will-change: transform;
    transition: transform 0.3s ease-out;
    cursor: grab;

    &__slide {
        width: 256px;
        height: auto;
        aspect-ratio: 1/1;
        object-fit: cover;
        display: flex;
        align-items: center;
        justify-content: center;

        &__img {
            max-width: 100%;
            max-height: 100%;
            width: 100%;
            height: auto;
            aspect-ratio: 1/1;
            object-fit: cover;
            transition: transform 0.3s ease-in-out;
            user-select: none;
            border-radius: $border-radius-small;
        }
    }
}

.grabbing {
    cursor: grabbing;
}

.grabbing .carousel__slide__img {
    transform: scale(0.9);
}

/* TABLET 768PX */
@media only screen and (min-width: $tablet-portrait) {
    .carousel {
        &__slide {
            width: 400px;
        }
    }
}