.cta {
    padding: 48px 16px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    h3 {
        margin-bottom: 24px;
        color: $neutrals-100;
        font-weight: 700;
    }
}
