.cta {
    padding: 48px 16px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &__title {
        margin-bottom: 24px;
        color: $neutrals-100;
        font-weight: 700;
    }

    &:has(.features) {
        .cta__title {
            margin-bottom: 16px;
        }

        .features {
            margin-bottom: 24px;

            .feature, .feature i {
                color: $neutrals-100;
            }
        }
    }
}

/* TABLET 768PX */
@media only screen and (min-width: $tablet-portrait) {
    .cta {
        padding: 64px 48px;
    }
}

/* TABLET 1024PX */
@media only screen and (min-width: $tablet-landscape) {
    .cta {
        padding: 64px 96px;
    }
}