.cta {
    padding: 48px 16px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &__title {
        margin-bottom: 24px;
        color: $neutrals-100;
        font-weight: 700;
    }

    &:has(.features) {
        .cta__title {
            margin-bottom: 16px;
        }
    }

    //to not break firefox
    .features {
        margin-bottom: 24px;

        .feature, .feature i {
            color: $neutrals-100;
        }
    }

    .button {
        background-color: $neutrals-100;
        color: $primary-600;

        &:hover {
            background-color: $primary-100 !important;
        }
    }
}

/* TABLET 768PX */
@media only screen and (min-width: $tablet-portrait) {
    .cta {
        padding: 64px 48px;
    }
}

/* TABLET 1024PX */
@media only screen and (min-width: $tablet-landscape) {
    .cta {
        padding: 64px 96px;
    }
}

/* DESKTOP 1280PX */
@media only screen and (min-width: $desktop-1) {
    .cta {
        padding: 96px 202px;
    }
}

/* DESKTOP 1440PX */
@media only screen and (min-width: $desktop-3) {
    .cta {
        &__title {
            max-width: 718px;
            font-size: 56px;
            line-height: 64px;
            margin-bottom: 40px;
        }

        &:has(.features) {
            .cta__title {
                max-width: 506px;
                margin-bottom: 24px;
                font-size: 40px;
                line-height: 48px;
            }
    
            .features {
                margin-bottom: 32px;
            }
        }
    }
}