.footer {
    position: relative;
    background-color: $primary-600;
    padding: 48px 16px 24px 16px;
    box-shadow: $footer-inner-shadow;

    .top {
        position: absolute;
        top: 56px;
        right: 16px;

        i {
            color: $neutrals-100;
            font-size: 16px;
            line-height: 16px;
        }
    }

    &__section {
        &.services {
            background-color: $primary-600;
            padding-top: 0;
        }

        h3 {
            font-weight: 700;
            color: $neutrals-100;
            margin-bottom: 16px;
        }

        &__p,
        &__a {
            font-size: 16px;
            color: $neutrals-100;
            display: block;
            margin-bottom: 8px;
            line-height: 16px;
        }

        &__a {
            font-family: $paragraph-font;

            i {
                transform: rotate(-45deg);
                font-size: 14px;
                line-height: 14px;
            }
        }
    }

    .intro {
        margin-bottom: 40px;

        .logo {
            margin-bottom: 24px;
        }

        p {
            color: $neutrals-100;
            margin-bottom: 16px;
        }
    }

    .contact {
        margin-bottom: 40px;
    }

    .flex {
        justify-content: space-between;
        align-items: flex-start;
        gap: 8px;
        margin-bottom: 32px;

        .footer__section {
            flex-grow: 1;
            width: 100%;
        }
    }

    .line {
        background-color: $primary-300;
        margin-bottom: 16px;
    }

    .copyright {
        text-align: center;
        color: $neutrals-100;
    }
}

/* TABLET 768PX */
@media only screen and (min-width: $tablet-portrait) {
    .footer {
        padding: 64px 48px 24px 48px;

        .top {
            top: 64px;
            right: 48px;

            i {
                font-size: 20px;
                line-height: 32px;
            }
        }

        .intro {
            width: 50%;

            p {
                margin-bottom: 24px;
            }
        }

        .line {
            margin-bottom: 24px;
        }
    }
}

/* TABLET 1024PX */
@media only screen and (min-width: $tablet-landscape) {
    .footer {
        padding: 72px 96px 24px 96px;

        .top {
            top: 72px;
            right: 96px;

            i {
                font-size: 24px;
                line-height: 24px;
            }
        }

        &__blocks {
            width: 100%;
            display: grid;
            grid-template-columns: 428px calc(100% - 428px);
            grid-template-rows: 152px min-content;
            grid-template-areas:
                "intro contact"
                "intro sitemapServices";

            .intro {
                grid-area: intro;
                width: calc(100% - 130px);
            }

            .contact {
                grid-area: contact;

                .footer__section__p:last-of-type {
                    margin-bottom: 0;
                }
            }

            .flex {
                grid-area: sitemapServices;
                width: 100%;
            }
        }
    }
}

/* DESKTOP 1280PX */
@media only screen and (min-width: $desktop-1) {
    .footer {
        padding: 96px 96px 24px 96px;

        .top {
            top: 96px;
        }

        &__blocks {
            grid-template-columns: 294px 352px 200px;
            grid-template-rows: auto;
            grid-template-areas: "intro sitemapServices contact";
            gap: 96px;

            .intro {
                grid-area: intro;
                width: auto;
            }

            .contact {
                grid-area: contact;
            }

            .flex {
                grid-area: sitemapServices;
                gap: 96px;
            }
        }
    }
}

/* DESKTOP 1440PX */
@media screen and (min-width: $desktop-3) {
    .footer__section {
        h3 {
            font-size: 24px;
            line-height: 32px;
        }
    }
}

/* DESKTOP 1600PX */
@media screen and (min-width: $desktop-5) {
    .footer {
        padding: 96px 176px 24px 176px;

        .top {
            right: 176px;
        }
    }
}