.header {

    //Default headers
    &__content {
        background-color: $neutrals-100;
        padding: 31px 16px 56px 16px;

        .breadcrumbs {
            margin-bottom: 16px;
        }

        .tags {
            margin-bottom: 8px;
        }

        &__title {
            margin-bottom: 12px;

            span {
                color: $primary-600;
            }
        }

        p {
            margin-bottom: 24px;
        }

        .buttons {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 8px;
            margin-bottom: 32px;

            .button {
                width: 100%;
                padding: 12px;
                text-align: center;
            }
        }

        .button-tertiary {
            color: $primary-600;
        }

        .language {
            font-family: $title-font;
            font-weight: 600;
            color: $neutrals-1000;
            text-align: center;
            margin-bottom: 0;
        }
    }

    //Service headers
    &-service {
        &__content {
            padding: 31px 0px 0px 0px;

            &__text {
                padding: 0px 16px;
    
                .button-tertiary {
                    display: none;
                }
    
                p {
                    margin-bottom: 48px;
                }
            }

            &__img {
                width: 100%;
                height: auto;
                aspect-ratio: 3/2;
                object-fit: cover;
            }
        }
    }
}