.section {
    padding: 72px 16px;
}

/* TABLET 768PX */
@media only screen and (min-width: $tablet-portrait) {
    .section {
        padding: 72px 48px;
    }
}

/* TABLET 1024PX */
@media only screen and (min-width: $tablet-landscape) {
    .section {
        padding: 72px 96px;
    }
}

/* DESKTOP 1280PX */
@media only screen and (min-width: $desktop-1) {
    .section {
        padding: 96px;
    }
}

/* DESKTOP 1440PX */
@media screen and (min-width: $desktop-3) {
    .section {
        padding: 128px 202px 128px 96px;
    }
}

/* DESKTOP 1600PX */
@media screen and (min-width: $desktop-5) {
    .section {
        padding: 128px 282px 128px 176px;
    }
}