.service-features-section {
    background-color: $neutrals-200;
    padding: 56px 16px;

    &__title {
        margin-bottom: 12px;
    }

    &__p {
        margin-bottom: 32px;
    }

    .button-tertiary.large {
        color: $primary-600;
        margin-bottom: 32px;
    }
}

/* TABLET 768PX */
@media only screen and (min-width: $tablet-portrait) {
    .service-features-section {
        padding: 72px 48px;
    }
}

/* TABLET 1024PX */
@media only screen and (min-width: $tablet-landscape) {
    .service-features-section {
        padding: 72px 96px;
    
        &__title {
            margin-bottom: 64px;
            text-align: center;
        }
    
        &__p, .button-tertiary.large {
            display: none;
        }
    }
}