.service-features-section {
    background-color: $neutrals-200;
    padding: 56px 16px;

    &__title {
        margin-bottom: 12px;
    }

    &__p {
        margin-bottom: 32px;
    }

    .button-tertiary.large {
        color: $primary-600;
        margin-bottom: 32px;
    }
}

/* TABLET 768PX */
@media only screen and (min-width: $tablet-portrait) {
    .service-features-section {
        padding: 72px 48px;
    }
}