.slider-container {
    .slider {
        height: 256px;
        overflow: hidden;
        margin-bottom: 16px;
    
        &__inner {
            height: 100%;
            width: auto;
            display: grid;
            white-space: nowrap;
            overflow-x: scroll;
            overflow-y: hidden;
            gap: 8px;

            //Scrollbar
            &::-webkit-scrollbar {
                height: 5px;
            }

            &::-webkit-scrollbar-track {
                background: $primary-100;
            }

            &::-webkit-scrollbar-thumb {
                background: $primary-300;
                border-radius: $border-radius-small;
            }
            
            &::-webkit-scrollbar-thumb:hover {
                background: $primary-500;
            }
        }
    
        &__arrows {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 24px;
    
            .slider-arrow {
                font-size: 20px;
                line-height: 20px;
                width: 20px;
                height: 20px;
                color: $primary-600;
                font-weight: 900;
                transition: color $transition-time-short ease-in-out;
    
                &:hover {
                    cursor: pointer;
                    color: $primary-400;
                }
            }
        }
    }
}

/* TABLET 768PX */
@media only screen and (min-width: $tablet-portrait) {
    .slider-container {
        .slider {
            height: 328px;

            &__inner {
                height: 100%;
            }
        }
    }
}

/* TABLET 1024PX */
@media only screen and (min-width: $tablet-landscape) {
    .slider-container {
        .slider {
            &__inner {
                gap: 24px;
            }
        }
    }
}

/* DESKTOP 1280PX */
@media only screen and (min-width: $desktop-1) {
    .slider-container {
        .slider {
            height: 400px;
            margin-bottom: 24px;

            &.casesSlider {
                height: 284px;
            }

            &__inner {
                height: 100%;
        
                .slide {
                    width: 400px;
                    height: 400px;
                }
            }

            &__arrows {
                .slider-arrow {
                    font-size: 28px;
                    line-height: 28px;
                    width: 28px;
                    height: 28px;
                }
            }
        }
    }
}

/* DESKTOP 1440PX */
@media screen and (min-width: $desktop-3) {
    .slider-container {
        .slider {
            &.casesSlider {
                height: 337px;
            }
        }
    }
}