.header-thank-you {
    &__content {
        &__text {
            .button-tertiary {
                margin-bottom: 8px;
            }

            p {
                margin-bottom: 32px;
            }

            h3 {
                margin-bottom: 16px;
            }
        }
    }
}

/* TABLET 1024PX */
@media only screen and (min-width: $tablet-landscape) {
    .header-thank-you {
        &__content {
            gap: 40px;

            &__text {
                .button-tertiary {
                    margin-bottom: 8px;
                }

                p {
                    text-align: left;
                    padding: 0;
                }

                h3 {
                    display: none;
                }
            }

            &__img {
                display: block;
                width: 360px;
                height: auto;
                aspect-ratio: 1/1;
                object-fit: cover;
                border-radius: $border-radius-small;
            }
        }
    }
}

/* DESKTOP 1280PX */
@media only screen and (min-width: $desktop-1) {
    .header-thank-you {
        &__content {
            padding: 64px 96px 128px 202px;
            gap: 130px;

            &__text {
                width: calc(100% - 506px - 130px);
                
                .button-tertiary {
                    margin-bottom: 16px;
                }
            }

            &__img {
                width: 506px;
            }
        }
    }
}

/* DESKTOP 1600PX */
@media screen and (min-width: $desktop-5) {
    .header-thank-you {
        &__content {
            padding: 64px 176px 128px 282px;
        }
    }
}

/* DESKTOP - HD */
@media only screen and (min-width: $desktop-hd) {
    .header-thank-you {
        &__content {
            padding: 64px 336px 128px 442px;
        }
    }
}

/* DESKTOP - QHD */
@media only screen and (min-width: $desktop-qhd) {
    .header-thank-you {
        &__content {
            padding: 64px 656px 128px 762px;
        }
    }
}

/* DESKTOP - WQHD */
@media only screen and (min-width: $desktop-wqhd) {
    .header-thank-you {
        &__content {
            padding: 64px 1096px 128px 1202px;
        }
    }
}

/* DESKTOP - 4K */
@media only screen and (min-width: $desktop-4k) {
    .header-thank-you {
        &__content {
            padding: 64px 1296px 128px 1402px;
        }
    }
}