.desktop {
    display: none;
}

.block {
    display: block;
}

/* DESKTOP - 1280PX */
@media only screen and (min-width: $desktop-1) {
    .mobile {
        display: none;
    }

    .desktop {
        display: block;
    }
}