.clients-section {
    padding: 56px 16px;
    background-color: $neutrals-200;

    h3 {
        text-align: center;
        margin-bottom: 24px;
    }

    .clients {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 8px;
        margin-bottom: 32px;
    }

    .button-tertiary {
        color: $primary-600;
    }
}

/* TABLET 768PX */
@media only screen and (min-width: $tablet-portrait) {
    .clients-section {
        padding: 72px 48px;
    }
}