.testimonials-section {
    background-color: $neutrals-200;
    padding: 72px 16px;

    //NOT SELECTABLE TEXT WHEN DOUBLE CLICKING
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* TABLET 768PX */
@media only screen and (min-width: $tablet-portrait) {
    .testimonials-section {
        background-color: $neutrals-200;
        padding: 72px 48px;
    }
}

/* TABLET LANDSCAPE - 1024PX */
@media only screen and (min-width: $tablet-landscape) {
    .testimonials-section {
        padding: 72px 202px;
    }
}

/* DESKTOP 1280PX */
@media only screen and (min-width: $desktop-1) {
    .testimonials-section {
        padding: 96px 202px;
    }
}

/* DESKTOP 1440PX */
@media only screen and (min-width: $desktop-3) {
    .testimonials-section {
        padding: 96px 0px;
    }
}