.clients {
    .client {
        width: 100%;
        height: 72px;
        border: 1px solid $primary-100;
        border-radius: $border-radius-small;

        img {
            width: calc(100% - 24px);
            height: calc(100% - 24px);
            object-fit: contain;
            margin-top: 12px;
            margin-left: 12px;
            transition: all $transition-time-short ease-in-out; 

            /*filter: grayscale(100%);
            -webkit-filter: grayscale(1);
            z-index: 0;

            &:hover {
                filter: none;
                -webkit-filter: grayscale(0);
            }*/
        }
    }
}

/* TABLET 1024PX */
@media only screen and (min-width: $tablet-landscape) {
    .clients {
        .client {
            //border: none;
            background-color: $neutrals-100;
        }
    }
}

/* DESKTOP 1280PX */
@media only screen and (min-width: $desktop-1) {
    .clients {
        .client {
            min-height: 112px;
            border: none;
            background-color: $neutrals-200;

            img {
                width: calc(100% - 32px);
                height: calc(100% - 32px);
            }
        }
    }
}