.clients {
    .client {
        width: 100%;
        height: auto;
        position: relative;
        min-height: 72px;
        border: 1px solid $primary-100;
        border-radius: $border-radius-small;

        &__img {
            width: calc(100% - 24px);
            height: calc(100% - 24px);
            object-fit: contain;
            position: absolute;
            transform: translate(-50%, -50%);
            top: 50%;
            left: 50%;
        }
    }
}

/* TABLET 1024PX */
@media only screen and (min-width: $tablet-landscape) {
    .clients {
        .client {
            //border: none;
            background-color: $neutrals-100;
        }
    }
}

/* DESKTOP 1280PX */
@media only screen and (min-width: $desktop-1) {
    .clients {
        .client {
            min-height: 112px;
            //border: none;
            //background-color: $neutrals-200;

            &__img {
                width: calc(100% - 48px);
                height: calc(100% - 48px);
            }
        }
    }
}