.clients {
    .client {
        width: 100%;
        height: 100px;
        background-color: $neutrals-100;
        //border: 1px solid $primary-100;
        border-radius: $border-radius-small;

        img {
            width: calc(100% - 48px);
            height: calc(100% - 48px);
            object-fit: contain;
            margin-top: 24px;
            margin-left: 24px;
            transition: all $transition-time-short ease-in-out;

            /*filter: grayscale(100%);
            -webkit-filter: grayscale(1);
            z-index: 0;

            &:hover {
                filter: none;
                -webkit-filter: grayscale(0);
            }*/
        }

        .logo-grayscale {
            display: block;
            opacity: 1
        }

        .logo-color {
            opacity: 0;
            display: none;
        }
    }
}

/* TABLET 768PX */
@media only screen and (min-width: $tablet-portrait) {
    .clients {
        .client {
            height: 128px;
    
            img {
                width: calc(100% - 64px);
                height: calc(100% - 64px);
                margin-top: 32px;
                margin-left: 32px;
    
                /*filter: grayscale(100%);
                -webkit-filter: grayscale(1);
                z-index: 0;
    
                &:hover {
                    filter: none;
                    -webkit-filter: grayscale(0);
                }*/
            }
        }
    }
}

/* TABLET 1024PX */
@media only screen and (min-width: $tablet-landscape) {
    .clients {
        .client {
            //border: none;
            background-color: $neutrals-100;
        }
    }
}

/* DESKTOP 1280PX */
@media only screen and (min-width: $desktop-1) {
    .clients {
        .client:hover {
            .logo-grayscale {
                opacity: 0;
                display: none;
            }
    
            .logo-color {
                opacity: 1;
                display: block;
            }
        }
    }
} 