//to make testimonial slider work
.slide-container {
    display: none;
    opacity: 0;
    transition: all $transition-time-short;

    &.active {
        display: block;
        opacity: 1;
    }
}

.testimonial {
    width: 100%;
    position: relative;

    &__p {
        position: relative;
        z-index: 1;
        margin-bottom: 16px;
        padding: 0px 50px;
        color: $neutrals-1000;
    }

    &__id {
        justify-content: flex-start;
        align-items: center;
        gap: 8px;
        margin-bottom: 24px;
        padding: 0px 50px;

        &__picture {
            width: 48px;
            height: 48px;
            object-fit: cover;
            border-radius: $border-radius-small;
        }

        &__name {
            color: $neutrals-1000;
            margin-bottom: 2px;
        }

        &__function {
            line-height: 16px;
        }
    }

    .prev,
    .next {
        font-size: 16px;
        line-height: 32px;
        position: absolute;
        transform: translate(0%, -50%);
        top: 30%;
        z-index: 2;

        &:hover {
            cursor: pointer;
        }
    }

    .prev {
        left: 0;
    }

    .next {
        right: 0;
    }
}

/* TABLET 768PX */
@media only screen and (min-width: $tablet-portrait) {
    .testimonial {
        &__p {
            padding: 0px 128px;
        }

        &__id {
            padding: 0px 128px;
        }

        .prev,
        .next {
            font-size: 20px;
        }
    }
}

/* TABLET 1024PX */
@media only screen and (min-width: $tablet-landscape) {
    .testimonial {
        &__p {
            padding: 0px 106px;
        }

        &__id {
            padding: 0px 106px;
        }
    }
}

/* DESKTOP 1280PX */
@media only screen and (min-width: $desktop-1) {
    .testimonial {
        &__p {
            font-size: 24px;
            line-height: 36px;
            margin-bottom: 24px;
        }

        &__id {
            margin-bottom: 32px;
        }
    }
}

/* DESKTOP 1440PX */
@media screen and (min-width: $desktop-3) {
    .testimonial {
        &__p {
            font-size: 32px;
            line-height: 44px;
            margin-bottom: 32px;
        }

        &__id {
            margin-bottom: 40px;
        }

        .prev,
        .next {
            font-size: 28px;
            line-height: 28px;
        }
    }
}