.header-home__content {
    .typing {
        display: inline-block;
        color: $primary-600;
        margin-bottom: 12px;

        //TYPING CURSOR
        &::after {
            content: "";
            width: 1px;
            height: 100%;
            border-right: 2px solid $primary-500;
            animation: blink 0.5s infinite ease;
        }

        @keyframes blink {
            0% {
                opacity: 0;
            }
            100% {
                opacity: 1;
            }
        }
    }
}

/* TABLET 1024PX */
@media only screen and (min-width: $tablet-landscape) {
    .header-home__content {
        .typing {
            display: none;
        }
    }
}